button {
    margin: 10%;
    border-radius: 12px;
    padding: 2%;
    cursor: pointer;
}

.slider {
    -webkit-appearance: none;
    width: 90%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
}
  
.slider::-webkit-slider-thumb {
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}

button {
    width: 500px;
}